<!DOCTYPE html>
<html>

<head>
    <title>Conta criada no SIGEP</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <%- include('partials/header'); %>

    <div style="padding: 25px 10px 10px 10px;">
        <b style="font-size: 20px;">Caro <%= params.firstName %>,</b><br/><br/>
        <p style="font-size: 14px;">Informamos-lhe que foi criada uma conta para si.</p>
        <br/><br/>
        <div id="container_details">
            <p>Email: <%= params.email %></p>
            <p>Password: <%= params.password %></p>
            <p>Pedimos-lhe que confirme a sua conta clicando <a href='<%= params.url %>'>aqui</p>
        </div><br><br>
        <b><p>Atenciosamente,</p>
            <p>VolunteeringIPS</p></b>
    </div>

    <%- include('partials/footer'); %>
</body>

</html>