<!DOCTYPE html>
<html>
  <head>
    <title>
      Candidatura no voluntariado "<%= params.volunteeringTitle %>" em
      VolunteeringIPS
    </title>
    <meta charset="UTF-8" />
  </head>

  <body
    style="
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    "
  >
    <%- include('partials/header'); %>

    <div style="padding: 25px 10px 10px 10px;">
      <b style="font-size: 20px;">Caro colega,</b><br /><br />
      <p style="font-size: 14px;">
        Eu <%= params.firstNameOfRecruiter %> <%= params.lastNameOfRecruiter %> estou a convirdar-lhe para participar
        do nosso sistema de voluntariado, para fazer o registo basta clicar
        <a href="<%= params.url %>">aqui</a>
      </p>
      <br /><br />
      <b
        ><p>Atenciosamente,</p>
        <p>VolunteeringIPS</p></b
      >
    </div>

    <%- include('partials/footer'); %>
  </body>
</html>
