<!DOCTYPE html>
<html>

<head>
    <title>Resposta Proposta de Voluntariado</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <%- include('partials/header'); %>
    
    <div style="padding: 25px 10px 10px 10px;">
        <b style="font-size: 20px;">Caro <%= params.firstName %>,</b><br/><br/>
        <p style="font-size: 14px;">Informamos-lhe que a sua candidatura ao voluntariado 
            <%= params.volunteeringName %> foi: <%= params.proposalState %></p>
        <br/>
        <div id="container_details">
            <p>Motivo: <%= params.reason %></p>
        </div>
        <b><p>Atenciosamente,</p>
          <p>VolunteeringIPS</p></b>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>